.watch-later-page {
  margin-top: 5.7rem;
  margin-left: 7rem;
  width: auto;
  min-height: 85vh;
  height: 100%;
  padding: 2rem;
}
.watch-later-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.watch-later-card {
  height: 12rem;
  width: 21rem;
  position: relative;
  flex: 0 0 auto;
}
.watch-list-card-text {
  position: absolute;
  bottom: 1rem;
  width: 18rem;
  word-wrap: wrap;
  opacity: 0;
  transform: 0.3s ease-in-out;
  color: var(--white-color);
}
.watch-later-card-img {
  border-radius: 3px;
  transform: 0.3s ease-in-out;
}
.watch-later-card-img:hover .watch-list-card-text {
  opacity: 1;
}
.watch-list-card-text:hover {
  opacity: 1;
}
.watch-later-card-img:hover {
  filter: brightness(60%);
}
.watch-later-text {
  padding-left: 1rem;
}
.watch-later-cancel-button {
  font-size: 1.8rem;
  padding: 1px;
  background-color: var(--red-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
}
.watch-later-cancel-button:hover {
  opacity: 1;
}
@media screen and (max-width: 900px) {
  .watch-later-page {
    margin-left: 0;
  }
}
