.card-display-grid {
  padding: 3rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}
.video-img {
  height: 10rem;
  width: 18rem;
  align-self: center;
  border-radius: 3px;
}
.video-card {
  position: relative;
  flex-direction: column;
  height: 17rem;
  width: 18rem;
  background-color: var(--white-color);
  border: 1px solid #d1d5db;
  transition: 0.2s;
  border-radius: 3px;
}
.video-card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.video-card-text-container {
  padding: 10px;
}
.video-card-video-owner {
  font-weight: 100;
}
.video-title {
  font-size: 1rem;
  max-width: 19rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.video-title-container {
  justify-content: space-between;
  align-items: flex-start;
}
.video-card-icon {
  font-size: 1.7rem;
}
.video-card-genre {
  padding-top: 5px;
  align-items: center;
  color: var(--grey-medium);
  font-weight: 100;
}
.card-drawer-section {
  z-index: 1;
  box-shadow: 2px 4px 7px 2px rgb(0 0 0 / 10%);
  position: absolute;
  top: 11rem;
  right: 1.7rem;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-color);
}
.card-drawer-item {
  gap: 5px;
  padding: 10px;
  font-weight: 100;
}
.card-drawer-item-display {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 100;
}
.playlist-input {
  margin: 0 1rem;
}

@media screen and (max-width: 900px) {
  .video-card {
    width: 17rem;
    height: 17rem;
  }
  .video-img {
    width: 17rem;
    height: 10rem;
  }
  .card-drawer-section {
    top: 12rem;
    min-height: fit-content;
    bottom: 2rem;
  }
  .card-drawer-item {
    padding: 10px 1.5rem;
  }
  .video-card {
    margin-top: 1rem;
  }
  .card-display-grid {
    padding: 1rem;
    gap: 1rem;
  }
}
