.single-video-page {
  padding: 2rem;
  gap: 2rem;
  margin-left: 7rem;
  margin-top: 5.7rem;
  min-height: 80vh;
  justify-content: center;
}
.video-iframe {
  background-color: var(--background-color);
  flex-direction: column;
  height: fit-content;
}
.single-video-page-videoList {
  flex-direction: column;
  width: 25rem;
  gap: 1rem;
  padding: 0 2rem;
  height: 80vh;
  overflow-y: scroll;
}
.singlepage-video-section-two {
  justify-content: space-between;
  align-items: center;
}
.singlepage-video-title {
  width: 45rem;
  font-size: 1.4rem;
  text-align: justify;
  padding-top: 1rem;
  color: var(--white-color);
}
.video-iframe-icons-container {
  gap: 2rem;
}
.singlepage-video-card-genre {
  align-items: center;
  color: var(--white-color);
  font-weight: 400;
  padding-top: 5px;
}
.video-iframe-icons {
  /* font-size: 1.8rem; */
  align-items: center;
  gap: 3px;
}
iframe {
  width: 49rem;
  height: 27rem;
}
/* .video-iframe-icons:hover {
  color: var(--green-color);
} */

@media screen and (max-width: 900px) {
  .single-video-page {
    margin-left: 0;
    flex-direction: column;
    align-items: center;
  }
  iframe {
    width: 25rem;
  }
  .singlepage-video-title {
    width: 23rem;
    font-size: 1.2rem;
  }

  .single-video-page-videoList {
    gap: 0;
    padding: 0;
  }
  /* .video-iframe-icons {
    font-size: 1.4rem;
  } */
  .video-iframe-icons-container {
    gap: 1rem;
  }
}
