.nav {
  box-shadow: 2px 4px 7px 2px rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: var(--white-color);
}
.nav-logo {
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 15px;
}
.nav-name {
  width: fit-content;
  gap: 15px;
}
.nav-name-text {
  font-family: "Kaushan Script", cursive;
  color: var(--purple-medium);
}
.hamburgur-icon {
  font-size: 2rem;
  margin-left: 10px;
}
.search-input-container {
  border: 1px solid black;
  border-radius: 3px;
  padding-right: 7rem;
  align-items: start;
  margin-left: auto;
  margin-right: 1rem;
}
.search {
  padding: 0.4rem 1rem;
  width: 20rem;
  border-radius: 3px;
  gap: 1rem;
}
.search-input {
  padding: 0.3rem;
  text-align: left;
  font-size: 1rem;
  border-radius: 3px;
  padding: 3px;
  border: none;
  outline: none;
  width: 14rem;
}
.profile-icon {
  font-size: 1.5rem;
}
.login-nav {
  margin-right: 1.2rem;
}
@media only screen and (max-width: 900px) {
  .search-input-container {
    display: none;
  }
  .login-nav {
    margin-left: auto;
  }
}
