.footer {
  padding: 3rem 0;
  background-color: #94a3b8;
}
.heart-icon {
  color: var(--purple-medium);
}
.footer-icon {
  font-size: 1.5rem;
  color: var(--black-color);
}
.footer-icon:hover {
  color: var(--purple-medium);
}
.footer-icons-container {
  display: flex;
  gap: 15px;
}
.copyright-text {
  display: flex;
  gap: 10px;
}
.footer-made-with-text {
  font-size: 1.3rem;
  font-weight: 100;
  gap: 5px;
}
