div.toast {
  width: 25rem;
  height: 2rem;
  display: flex;
  text-align: left;
  background-color: var(--green-color);
  box-shadow: 4px 6px 10px 4px rgb(0 0 0 / 10%);
}
div.toast div {
  justify-content: start;
  font-size: 1.2rem;
}
