@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
:root {
  --white-color: white;
  --purple-medium: #a21caf;
}
.flex-row-only {
  display: flex;
  align-items: center;
}
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.margin-top-bottom-zero {
  margin-top: 0;
  margin-bottom: 0;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
