@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
}
:root {
  --white-color: white;
  --purple-medium: #a21caf;
  --purple-dark: #d946ef;
  --purple-light: #e879f9;
  --purple-lighter: #f0abfc;
  --bg-color: #fae8ff;
  --grey-light: #d6d3d1;
  --stone-black: #57534e;
  --grey-lighter: #cbd5e1;
  --black-color: #27272a;
  --grey-medium: #4b5563;
  --red-color: #dc2626;
  --off-purple: #fdf4ff;
}
.flex {
  display: flex;
}
.flex-row-only {
  display: flex;
  align-items: center;
}
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.margin-top-bottom-zero {
  margin-top: 0;
  margin-bottom: 0;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-name-text {
  font-family: "Kaushan Script", cursive;
  color: var(--purple-medium);
}
.landing-page {
  margin-top: 7rem;
}
.responsive-img {
  width: 100%;
  height: 100%;
}
.text-align-center {
  text-align: center;
}
button {
  border: none;
  background-color: transparent;
}
button:hover {
  filter: brightness(75%);
  cursor: pointer;
}
.link {
  text-decoration: none;
  cursor: pointer;
}
.link-color {
  color: var(--black-color);
}
.link:hover {
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.pointer {
  cursor: pointer;
}
.black {
  color: var(--black-color);
}
@media screen and (max-width: 600px) {
  html {
    font-size: 85%;
  }
}
