.auth-page {
  padding-top: 5rem;
  margin-top: 5rem;
  margin-left: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.login-form {
  margin: auto;
  width: 20rem;
  height: fit-content;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--background-color);
  border: 1px solid var(--green-color);
  border-radius: 3px;
}
.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
}
.form-input-individual {
  color: var(--green-color);
  border: none;
  padding: 5px 0;
  border-bottom: 1px solid var(--green-color);
  background-color: var(--background-color);
  outline: none;
}
.form-input-individual::placeholder {
  color: var(--light-green);
}
.login-form-btn {
  width: 90%;
  background-color: var(--green-color);
  color: var(--background-color);
  padding: 8px 0;
  font-size: 1rem;
  font-weight: 600;
}
.register-text {
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  color: var(--green-color);
  padding-bottom: 3px;
}
.register {
  border-bottom: 1px solid var(--green-color);
}
.login-guest-text {
  color: var(--green-color);
  border-bottom: 1px solid var(--green-color);
  padding-bottom: 3px;
  font-size: 1.4rem;
  letter-spacing: 1px;
}
@media screen and (max-width: 900px) {
  .auth-page {
    margin-left: 0;
  }
}
