.playlist-page {
  padding: 2rem;
  margin-left: 7rem;
  margin-top: 5.7rem;
  min-height: 80vh;
  height: 100%;
}
.playlist-option-container {
  gap: 1rem;
}
.playlist-option-block {
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem;
  height: 4rem;
  background-color: var(--purple-light);
  transition: 0.3s ease-in-out;
}

.playlist-option-block:hover {
  transform: scale(1.1);
}
.playlist-row {
  width: 85vw;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  gap: 1rem;
  padding: 10px 0;
}
@media screen and (max-width: 900px) {
  .playlist-page {
    margin-left: 0;
  }
}
